.ipynb_checkpoints
hands_on_ml/.ipynb_checkpoints
languages/.ipynb_checkpoints
languages/c++/.ipynb_checkpoints
languages/java/.ipynb_checkpoints
languages/r/.ipynb_checkpoints
languages/sql/.ipynb_checkpoints

